* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;

}

body {
  font-family: "Helvetica Neue", sans-serif;
  margin: 25px;
  display: inline;
  height: 100%;
  background:
    linear-gradient(rgba(135, 60, 255, 0.4), rgba(135, 60, 255, 0.0) 80%) no-repeat,
    linear-gradient(-45deg, rgba(120, 155, 255, 0.9) 25%, rgba(255, 160, 65, 0.9) 75%) no-repeat;
}

.calculator {
  margin-left: 600px;
  background: black;
  border-radius: 50px;
  color: white;
  height: 1050px;
  padding: 20px;
  width: 563px;
}

.top-container {
  display: flex;
  height: 200px;
  justify-content: space-between;
  padding: 0 20px;
}

.value {
  font-size: 130px;
  font-weight: 300;
  height: 150px;
  margin-bottom: 20px;
  margin-right: 20px;
  text-align: right;
}

.buttons-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.button {
  align-items: center;
  background: #333;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  font-size: 45px;
  height: 110px;
  justify-content: center;
  transition: filter .3s;
  width: 110px;
}

.button.function {
  color: black;
  background: #a5a5a5;
}

.del {
  color: black;
  background: #a5a5a5;
}

.button.operator {
  background: #f1a33c;
}

.button:active,
.button:focus {
  filter: brightness(120%);
}