<h1>Выставка животных</h1>
<div class="container">
  <ul class="list-animals">
    <li *ngFor="let animal of animals"
        (click)="activeAnimal(animal.id)"
        class="animal">{{ animal.type }} {{ animal.name }}
      <p *ngIf="isActive(animal.id)">Пол животного: {{ animal.sex }}.</p>
      <p *ngIf="isActive(animal.id)">Окраска: {{ animal.color }}.</p>
      <p *ngIf="isActive(animal.id)">Возраст: {{ animal.age }} год.</p>
    </li>
  </ul>
</div>
<button (click)="CatsVisibility()" class="btn">{{ isCatsShown ? "Скрыть" : "Показать" }} котиков</button>


