@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Roboto&display=swap');

.list-animals {
  margin: auto;
  width: 500px;
  list-style-type: none;
  font-size: 35px;
  color: #00587A;
  border: 2px solid #008891;
  border-radius:25px;
}
.container {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
li {
  text-align: center;
  padding: 10px;
  margin: 20px;
  border-radius:15px;
}
p {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}
.btn {
  width: 250px;
  height: 50px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  color:#CDCBA6;
  font-size: 20px;
  border-radius: 10px;
  background:#00587A;
  margin-bottom: 10px;
}
.animal {
  border: 5px #008891 double;
}
h1 {

  font-size: 50px;
  text-align: center;
  color:#008891 ;
}


