body {
  margin-top: 15%;
  font-family: 'Montserrat', sans-serif;
  font-size: 2vw;
  font-weight: 333;
}

h1,
h2,
h3 {
  margin: 0;
}

h3 {
  font-family: 'Rubik One', sans-serif;
  text-transform: uppercase;
  background: linear-gradient(45deg, #0b2349 33%, #0d61bc 66%, #8aa9d6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0b2349;
  display: table;
  margin: 20px auto;
}
.table_ {
  margin: 1vh auto;
  width: 70vw;
  font-size: 1.5vw;
  border-radius: 3%;
  border-top: 5px solid #07575b;
  border-left: 5px solid #07575b;
  border-right: 5px solid #07575b;
  border-bottom: 5px solid #07575b;
}

.table_ caption {
  text-transform: uppercase;
  background: #07575b;
  font-weight: 600;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  padding: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5vw;
  text-align: center;
  margin: 0;
}

.table_ thead {
  padding: 20px 10px;
  font-size: 1.5vw;
  text-align: left;
  font-weight: bold;
  color: #c29545;
}

.table_ td,
th {
  width: 5vw;
  padding: 10px;
  border: 1px solid #323030;
}

.table_ tr:nth-child(2n) {
  background: #e5e5e5;
}

.table_ td:last-of-type {
  text-align: center;
}

.change_table {
  width: 80%;
  margin: 10px auto;
  text-align: center;
}

.button {
  color: black;
  width: 15vw;
  padding: 15px;
  font-size: 2vw;
  font-family: 'Montserrat', sans-serif;
  border-radius: 10px;
  border-style: none;
  transition: 120ms;
  opacity: 0.8;
  background: linear-gradient(90deg, #cfecd0, #a0cea7, #9ec0db);
}

.bt1 {
  background: linear-gradient(4deg, #5462c3, #ba872c);
}

.button:active {
  opacity: 1;
}
.button:hover {
  cursor: pointer;
}

input {
  width: 15vw;
  padding: 14px 15px;
  font-size: 2vw;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
}

h4 {
  font-size: 1.2vw;
  font-weight: normal;
}
