*{
    margin: 0;
    padding: 0;
}

header{
width: 100%;
height: 100px;
margin-top: 20px;
text-align: center;
font-size: 90px;
text-align: center;
color: #E8A87C;
    padding-bottom: 30px;
}

body {
    background: linear-gradient(90deg, #b9deed, #efefef);
}

h2 {
    color:#E8A87C ;
}

.search {
    margin: 20px 20px;
    text-align: center;
}

.search input {
    width: 250px;
    height: 30px;
    border: 2px solid #EDF5E1 ;
    border-radius: 5px;
    background:#EDF5E1;
}

.search input::placeholder {
    font-size: 16px;
}
.btn-send {
    width: 130px;
    height: 30px;
    background:#EDF5E1;
    border: 2px solid #EDF5E1 ;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;

}
.btn-update {
    width: 25px;
    height: 25px;
    background: #EDF5E1;
    color: #E8A87C;
    border: 2px solid #E8A87C;
    border-radius: 5px;
    cursor: pointer;
}
.weather {
    padding-top: 20px;
    text-align: center;
    position: relative;
    width: 500px;
    background: #EDF5E1;
    padding: 20px;
    margin: auto;
    border-radius: 15px;
    font-size: 22px;
    color :#E8A87C;
}