body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4vw;
  font-weight: 500;
  color: white;
  background-color: white;
}

h1,
h2 {
  margin: 0;
  line-height: 0.85em;
}

.main {
  width: 100%;
  height: 90vh;
  background: url(./pictures/home.jpg) center no-repeat;
  background-blend-mode: soft-light;
  background-size: cover;
  background-color: #f31c1c;
}

.header {
  margin-top: 10px;
  margin-bottom: 4%;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 4vw;
  overflow: hidden;
  margin-left: -1vw;
  font-weight: 500;
  color: #fff;
}

/*navigation*/
nav {
  margin-top: 10px;
  margin-right: 7vw;
  font-size: 25px;
}

nav a {
  text-decoration: none;
  font-weight: 300;
  font-size: 1.5vw;
  color: #fff;
  padding: 5px 12px 6px 9px;
  transition: 1s;
  margin-right: 15px;
}

nav a:hover {
  border: 0;
  border-radius: 5px;
  background: #130e27;
  color: #fff;
  text-align: center;
}

/*hello-part*/
.form_about {
  display: inline-flex;
  justify-content: space-between;
}

.helllopage {
  color: #130e27;
  width: 40%;
  margin-left: 15vh;
}

.sellyour {
  margin-top: 20%;
  font-size: 3vw;
}

.CAR_NOW {
  color: white;
}

.info_text {
  margin-top: 5vh;
  color: white;
  width: 95%;
}
/*form*/
.form {
  margin-right: 10vw;
  background-color: white;
  border-radius: 10px;
  height: 32vw;
  padding: 15px;
  width: 25vw;
}

.title {
  color: #130e27;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5vw;
  font-weight: 300;
  margin-top: 20px;
}

.input-container {
  height: 4vw;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 1.5vw;
}

.ic2 {
  margin-top: 1.1vw;
}

.ic3 {
  margin-top: 1.1vw;
  display: inline-block;
}

.ic4 {
  margin-top: 1.1vw;
}
.ic5 {
  margin-top: 1.1vw;
}
.ic6 {
  margin-top: 1.1vw;
}

input:required:hover {
  border: 2px solid #ed0e0e;
}
.submit:disabled {
  background-color: #130e27;
  color: white;
}
.input {
  background-color: #eeeeee;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #130e27;
  font-size: 1.5vw;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

::-webkit-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.36vw;
}

.check_text {
  color: #130e27;
  text-align: center;
  display: inline-block;
}

.custom-checkbox {
  width: 10vh;
  display: inline-block;
}
.submit {
  background-color: #ed0e0e;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1.4vw;
  font-weight: 300;
  height: 4vw;
  margin-top: 0;
  outline: 0;
  text-align: center;
  width: 100%;
}
.submit:active {
  background-color: #06b;
}

/* SERVICES CONTAINER */
.services_container {
  margin: 1% 7% 5% 7%;
}

.red {
  color: red;
}

h2 {
  font-size: 2em;
  margin-bottom: 2%;
}

.services_icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: auto;
  margin-left: 10%;
  margin-right: 20%;
  margin-top: 8%;
  margin-bottom: 32%;
}
img {
  justify-content: center;
  width: 150px;
  height: 140px;
}

.icon {
  width: 10px;
  height: 10px;
}

body {
  color: #130e27;
}

.icon p {
  text-align: center;
  margin-top: 20%;
  color: #130e27;
  width: 190px;
  height: 100px;
  margin-right: 10%;
}
/* OUR STORY  */
.our_story {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #130e27;
  color: white;
  padding: 1% 10%;
  height: 80px;
}
.our_story_btn {
  background-color: #c52314;
  border: none;
  border-radius: 20px;
  margin: 30px 10px;
  width: 25%;
  height: 60px;
  cursor: pointer;
  font-size: 20px;
}

/*pricing_part   */
.pricing_part {
  padding: 5% 10% 5% 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #eee;
}
.pricing {
  text-align: center;
}

.pricing_cards {
  display: flex;
  justify-content: space-between;
}
.card {
  background-color: white;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2% 5% 0 5%;
  height: auto;
  position: relative;
}

.triangle {
  width: 0;
  height: 0;
  border-top: 4em solid #c62314;
  border-right: 4em solid transparent;
  position: absolute;
  top: -1%;
  left: -3%;
}
/* Popular */
.rotatable {
  display: inline-block;
  transform: rotate(-45deg);
  position: absolute;
  left: 1em;
  right: 1em;
  top: -2em;
  bottom: -1em;
  font-size: smaller;
}

.price_div {
  margin: 15% 0%;
}
span.price {
  color: #c62314;
}

.price {
  font-size: 2em;
  font-weight: bold;
  color: #e03a59;
}

.price_btn {
  color: #fff;
  width: 90%;
  margin-top: 20%;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #130e27;
  padding: 8px 10px;
}

.red_price_btn {
  color: #fff;
  width: 90%;
  margin-top: 20%;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #c52314;
  padding: 8px 10px;
}

.line___ {
  width: 100%;
  margin-top: -1.5%;
  padding: 0;
  height: 7px;
  border: none;
  background: linear-gradient(45deg, #333, #ddd);
}
.line_ {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 6px;
  border: none;
  background: linear-gradient(45deg, #333, #ddd);
}

/* last_page */
.last_page {
  display: flex;
  margin-left: 10%;
  margin-top: 2.5%;
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-right: 5%;
}

h2.testimonial {
  text-align: center;
}

.testimonial_item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5%;
}

.testimonial_item img {
  box-shadow: 0px -2px 10px -4px rgb(50, 50, 50, 0.5);
}

.testimonial_info {
  border-radius: 5px;
  padding: 15px;
  width: 80%;
}

._testimonial_author {
  margin-top: 5%;
}

.author2_photo {
  width: 120px;
  height: 160px;
  margin-left: -4%;
  margin-top: 3%;
}
.logo_ {
  color: #c62314;
  font-weight: 550;
}
h2.logo_ {
  text-align: center;
}
.pic2-4 {
  display: flex;
  justify-content: start;
}

.pic1-2 {
  flex-direction: row;
  display: flex;
  justify-content: start;
}

.pic1 {
  width: 300px;
  height: 200px;
}
.pic2 {
  width: 300px;
  height: 200px;
}

.pic3 {
  width: 300px;
  height: 200px;
}

.pic4 {
  width: 300px;
  height: 200px;
}

.more {
  margin-right: 10%;
  text-decoration: underline;
  color: #130e27;
  margin-top: 2%;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6em;
  padding: 0 10%;
  color: white;
  background-color: #130e27;
}
.footer_logo {
  font-size: 50px;
}
span.red_footer {
  color: #c62314;
}
